---
---

@import "_fonts";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -35px;
  padding: 0 0 35px;
}

img {
  max-width: 100%;
  height: auto;
}

a.navbar-text {
  margin-left: 0px;
  margin-right: 0px;
}

a:hover {
  text-decoration: underline
}

.tag {
  display:inline-block;
  padding:0 21px;
  margin:0 5px 5px 0;
  color:#fff;
  vertical-align:middle;
  background-color:#5dade2;
  border-radius:4px;
}

.text-muted {
  color: #7F8C8D;
}

.icon-text {
  margin-left: 4px;
  font-weight: 400;
}

.btn .icon-text {
  font-family: $font-family;
}

.btn-xs {
  padding: 4px 9px;
  font-size: 14px;
  line-height: 1;
}

.dl-horizontal dt {
  text-align: left;
  width: 180px;
}

ol.bibliography li span strong {
  font-weight: 900;
}

i.journal {
  color: #2980B9;
}

footer ul {
  margin-bottom: 5px;
}


@media screen and (max-width:550px) {
  .hide-small {
    display:none!important
  }
}

@media screen and (max-width:475px) {
  body {
    font-size: 16px;
  }
  h1,
  .h1 {
    font-size: 40px;
  }
  h2,
  .h2 {
    font-size: 29px;
  }
  h3,
  .h3 {
    font-size: 28px;
  }
  h4,
  .h4 {
    font-size: 24px;
  }
  h5,
  .h5 {
    font-size: 18px;
  }
  h6,
  .h6 {
    font-size: 16px;
  }
}

