{% assign contributions = site.data.data.contributions %}

{% if contributions %}
<section class="skills-section contributions-section">

  <h3 class="section-title">
    <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ contributions.title }}
  </h3>

  <div class="skillset">
  <table class="table">
  <tbody>
{% for item in contributions.items %}        <tr>
          <td scope="row">
            <div class="item">
              <div class="meta">
                <div class="upper-row">
                  <h3 class="degree"><a href="{{ item.url }}">{{ item.name }}</a></h3>
{% if item.duration %}              <div class="time">{{ item.duration }}</div>{% endif %}
                </div>
                <div class="university">{{ item.description }}</div>
              </div><!--//meta-->
    
{% if item.details %}              <div class="details">
                {{ item.details | markdownify }}
              </div><!--//details-->{% endif %}
            </div>
          </td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>
</section><!--//skills-section-->
{% endif %}
