{% assign contributions = site.data.data.contributions %}

{% if contributions %}
<section class="skills-section contributions-section">

  <h3 class="section-title">
    <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ contributions.title }}
  </h3>

  <div class="skillset">
  <table class="table">
  <tbody>
{% for item in contributions.items %}    <tr>
      <td width="25%" scope="row"><a href="{{ item.html_url }}">{{ item.name }}</a></td>
      <td width="75%">{{ item.description }}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
</section><!--//skills-section-->
{% endif %}
