{% assign data = site.data.data %}

<div id="letterContainer">
  <div id="TopBar">
  </div>

  <div class="section header">
    <table class="contact">
      <tr>
        <td><br><br><br><br><br><br><br><br><br></td>
      </tr>
    </table>		
  </div> 
  <div class="letterText">
    <div style="float: left;">December DD, YYYY</div>
    <div><br><br><br><br><br>
      Dear Hiring Manager:<br><br>
      {{ data.cover_letter.opening.Simple }}<br><br>
      
      {{ data.cover_letter.centre.Simple }}<br><br>
      
      {{ data.cover_letter.closing.Simple }}<br><br>
      
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
      
      Condimentum id venenatis a condimentum vitae. Lorem mollis aliquam ut porttitor leo a diam. Enim ut sem viverra aliquet eget. Hendrerit dolor magna eget est lorem. Libero id faucibus nisl tincidunt eget nullam non. Nisi est sit amet facilisis magna. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Quis blandit turpis cursus in hac. Pretium vulputate sapien nec sagittis. Feugiat vivamus at augue eget arcu dictum varius duis. <br><br>
      
      Id interdum velit laoreet id donec ultrices tincidunt. Dignissim suspendisse in est ante in nibh mauris. Augue interdum velit euismod in. Egestas pretium aenean pharetra magna ac. Mollis nunc sed id semper. Pretium viverra suspendisse potenti nullam ac tortor vitae purus. Tellus cras adipiscing enim eu. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Eu turpis egestas pretium aenean pharetra. Enim ut sem viverra aliquet eget sit amet. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Duis ultricies lacus sed turpis tincidunt id aliquet. Sit amet est placerat in egestas erat imperdiet. Id volutpat lacus laoreet non curabitur gravida arcu ac.<br><br>
      
      
      Ut eu sem integer vitae justo. Donec ac odio tempor orci. Et odio pellentesque diam volutpat commodo sed. Lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis. Elementum pulvinar etiam non quam. Pretium aenean pharetra magna ac. Sed vulputate odio ut enim blandit volutpat maecenas. Id faucibus nisl tincidunt eget. Arcu odio ut sem nulla. At urna condimentum mattis pellentesque id. Tellus cras adipiscing enim eu turpis. Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget. Elit eget gravida cum sociis. Viverra ipsum nunc aliquet bibendum enim facilisis. Phasellus egestas tellus rutrum tellus pellentesque. Vestibulum lectus mauris ultrices eros in. Ornare massa eget egestas purus viverra accumsan in.<br><br><br>
      
      <p>Sincerely,</p><br>
            
      <img src="images/signature.jpg" width="130" height="40" />
      
      <p>
          Full Name<br>
          {{ data.basic.name }}
      </p>
      
    </div>	  
  </div>
</div>
