{% assign dashboards = site.translations[site.lang].dashboards %}

{% if dashboards %}
<section class="skills-section dashboards-section">

  <h3 class="section-title">
    <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ dashboards.title }}
  </h3>

  <div class="skillset">
  <table class="table">
  <tbody>
{% for item in dashboards.items %}    <tr>
      <td scope="row"><a href="{{ item.html_url }}">{{ item.name }}</a></td>
      <td>{{ item.description }}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
</section><!--//skills-section-->
{% endif %}
