{% assign experiences = site.translations[site.lang].experiences %}

{% if experiences %}{% if experiences.current %}  <section class="section experiences-section">
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
      </span>
       Current {{ experiences.title }}
    </h2>
  
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title">{{ experiences.current.role }}</h3>
          <div class="time">{{ experiences.current.duration }}</div>
        </div><!--//upper-row-->
  
        <div class="company">{{ experiences.current.company }}, {{ experiences.current.location }}</div>
  
      </div><!--//meta-->
{% if experiences.current.details %}                <div class="courses">
                  <ul>
{% for detail in experiences.current.details %}                  <li>{{ detail }}</li>{% endfor %}
                  </ul>
                </div><!--//details-->{% endif %}
    </div><!--//item-->
  
  </section><!--//section-->{% endif %}

  {% if experiences.previous %}
  <section class="section experiences-section">
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
      </span>
       Previous {{ experiences.title }}s
    </h2>
  
    {% for experience in experiences.previous %}
    <div class="item">
  
      <div class="meta">
  
        <div class="upper-row">
          <h3 class="job-title">{{ experience.role }}</h3>
          <div class="time">{{ experience.duration }}</div>
        </div><!--//upper-row-->
  
        <div class="company">{{ experience.company }}, {{ experience.location }}</div>
  
      </div><!--//meta-->
{% if experience.details %}                <div class="courses">
                  <ul>
{% for detail in experience.details %}                  <li>{{ detail }}</li>{% endfor %}
                  </ul>
                </div><!--//details-->{% endif %}
    </div><!--//item-->
{% endfor %}
  
  </section><!--//section-->{% endif %}{% endif %}
