    <footer>
      <div class="container">
        <div class="row text-center">
          <ul class="list-inline">
            <li><p><strong>{{ site.author.name.[page.lang] }}</strong></p></li>
            <li class="hide-small"><span class="fui-mail"></span> <a>{{ site.author.emails[0] }}</a></li>
            <li class="hide-small"><span class="fui-twitter"></span> <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">  @{{ site.author.twitter }} </a></li>
            <li class="hide-small"><span class="fui-github"></span> <a href="https://github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></li>
          </ul>
        </div>
      </div>
    </footer>
