  <!-- ======= Header ======= -->
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ site.translations[site.lang].basic.name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Select options</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% if site.lang != site.languages[0] %}/{{ site.lang }}{% endif %}/{% if page.template != site.templates[0] %}{{ page.template }}/{% endif %}{% if page.profile != site.profiles[0] %}{{ page.profile }}{% endif %}">Languages</a>
            <ul dropdown-menu-dark">
{% for language in site.languages %}              <li><a class="dropdown-item" href="{% if language != site.languages[0] %}/{{ language }}{% endif %}/{% if page.template != site.templates[0] %}/{{ page.template }}/{% endif %}{% if page.profile != site.profiles[0] %}{{ page.profile }}{% endif %}">{{ language }}</a></li>
{% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% if site.lang != site.languages[0] %}/{{ site.lang }}{% endif %}/{% if page.template != site.templates[0] %}{{ page.template }}/{% endif %}{% if page.profile != site.profiles[0] %}{{ page.profile }}{% endif %}">Profiles</a>
            <ul dropdown-menu-dark">
{% for profile in site.profiles %}              <li><a class="dropdown-item" href="{% if site.lang != site.languages[0] %}/{{ site.lang }}{% endif %}/{% if page.template != site.templates[0] %}{{ page.template }}/{% endif %}{% if profile != site.profiles[0] %}{{ profile }}{% endif %}">{{ profile }}</a></li>
{% endfor %}
            </ul>
          </li>
          <li class="nav-itemn">
            <a class="nav-link" href="{% if site.lang != site.languages[0] %}/{{ site.lang }}{% endif %}/{% if page.template != site.templates[0] %}{% if page.template != site.templates[0] %}{{ page.template }}/{% endif %}{% endif %}{% if page.profile != site.profiles[0] %}{{ page.profile }}{% endif %}">Templates</a>
            <ul dropdown-menu-dark">
{% for template in site.templates %}              <li><a class="dropdown-item" href="{% if site.lang != site.languages[0] %}/{{ site.lang }}{% endif %}/{% if template != site.templates[0] %}{{ template }}/{% endif %}{% if page.profile != site.profiles[0] %}/{{ page.profile }}{% endif %}">{{ template }}</a></li>
{% endfor %}
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
