<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- for iPhone/iPad Safari -->
  <meta name="format-detection" content="telephone=no">
  
  <!-- Loading Bootstrap -->
  <link rel="stylesheet" href="{{ "/css/vendor/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">

  <!-- Loading Flat UI -->
  <link rel="stylesheet" href="{{ "/css/flat-ui.min.css" | prepend: site.baseurl }}">
  
  <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
  
  <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

  {% if page.layout == "top" %}
  <link rel="stylesheet" href="{{ "/css/top.css" | prepend: site.baseurl }}">
  {% endif %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="{{ "js/vendor/html5shiv.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/vendor/respond.min.js" | prepend: site.baseurl }}"></script>
  <![endif]-->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFKLBV2ZNN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BFKLBV2ZNN');
  </script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
