    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-8">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="{{ site.url }}">{{ site.author.name.en }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-8">
        {% if page.layout == "top" and site.data.sections %}
        <ul class="nav navbar-nav">
          {% for section in site.data.sections %}
          <li><a data-scroll href="#{{ section.id }}">{{ section.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
          {% if page.lang != "en" %}
          <li><a href="{{ site.url }}">English</a></li>
          {% endif %}
          {% if page.lang != "ja" %}
          <li><a href="{{ "/ja/" | prepend: site.baseurl | prepend: site.url }}">日本語</a></li>
          {% endif %}
          <li><a class="navbar-text" rel="noopener" target="_blank" href="{{ "/commits/master" | prepend: site.repository }}">Last updated: {{ site.time | date: "%Y-%m-%d" }}</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
