{% assign projects = site.data.data.projects %}
{% if projects %}
  {% if projects.current %}
  <section class="section projects-section">
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
      </span>
       {{ projects.title }}
    </h2>  
{% for project in projects.current %}    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            {{ project.name }}<br>
            <strong>{{ project.role }}</strong><br>
            {% if project.details %}
            <div class="details">
              {{ project.details | markdownify }}
            </div><!--//details-->
            {% endif %}
            <br>
          </td>
          <td width="10%" align="right">
            <a href="{{ project.wikipedia_url }}" target="_blank">
              <img src="{{ project.image }}" width="160">
            </a> 
          </td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </section><!--//section-->
  {% endif %}
{% endif %}
