{% assign repositories = site.translations[site.lang].repositories %}
{% assign repositories_title = site.translations[site.lang].repositories_title %}
{% assign repositories_airbus = site.translations[site.lang].repositories_airbus %}

{% if repositories_airbus %}<section class="skills-section repositories-section">
  <h3 class="section-title">
    <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ repositories_airbus.title }}
  </h3>

  <div class="skillset">
  <table class="table">
  <tbody>
{% for repository in repositories_airbus.items %}    <tr>
      <td scope="row"><a href="{{ repo.html_url }}">{{ repository.name }}</a></td>
      <td>{{ repository.description }}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
</section><!--//skills-section-->
{% endif %}

{% if repositories %}
<section class="skills-section repositories-section">

  <h3 class="section-title">
    <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ repositories_title }}
  </h3>

  <div class="skillset">
  <table class="table">
  <tbody>
{% for repository in repositories %}{% if repository.fork == false %}    <tr>
      <td scope="row"><a href="{{ repo.html_url }}">{{ repository.name }}</a></td>
      <td>{{ repository.description }}</td>
  </tr>{% endif %}
    {% endfor %}
  </tbody>
</table>
</section><!--//skills-section-->
{% endif %}
