{% assign roles = site.data.data.roles %}
{% if roles %}
  {% if roles.current %}
  <section class="section roles-section">
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
      </span>
       {{ roles.title }}
    </h2>
  
    {% for role in roles.current %}
    <div class="item">
  
      <div class="meta">
  
        <div class="upper-row">
          <h3 class="job-title">{{ role.name }}</h3>
          <div class="time">{{ role.duration }}</div>
        </div><!--//upper-row-->
  
        <div class="company">{{ role.company }}, {{ role.location }}</div>
  
      </div><!--//meta-->
  
      {% if role.details %}
      <div class="details">
        {{ role.details | markdownify }}
      </div><!--//details-->
      {% endif %}
  
    </div><!--//item-->
    {% endfor %}
  
  </section><!--//section-->
  {% endif %}
{% endif %}
