{% assign roles = site.translations[site.lang].roles %}

{% if roles %}{% if roles.current %}<section class="section roles-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ roles.title }}
  </h2>
      
  <div class="skillset">
    <table class="table">
      <tbody>
{% for item in roles.current %}        <tr>
          <td scope="row">
            <div class="item">
              <div class="meta">
                <div class="upper-row">
                  <h3 class="degree">{{ item.name }}</h3>
{% if item.duration %}              <div class="time">{{ item.duration }}</div>{% endif %}
                </div><!--//upper-row-->
    
                <div class="university"><a href={{ item.url }}>{{ item.description }}</a></div>
              </div><!--//meta-->
    
{% if item.details %}              <div class="details">
                {{ item.details | markdownify }}
              </div><!--//details-->{% endif %}
            </div>
          </td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>
</section><!--//section-->
{% endif %}
{% endif %}
