{% assign data = site.translations[site.lang] %}

<div class="sidebar-wrapper">
  <div class="profile-container">
    {% if data.show_picture %}<img class="avatar" src="/images/{{ data.basic.avatar }}" alt="profile picture" />{% endif %}

  </div>
{% if data.show_contact %}{% include contact.html %}{% endif %}
{% if data.show_skills_developer %}{% include skills_developer.html %}{% endif %}
{% if data.show_languages %}{% include languages.html %}{% endif %}
{% if data.show_interests %}{% include interests.html %}{% endif %}
</div>
