{% assign data = site.data.data %}

<div class="sidebar-wrapper">
  <div class="profile-container">
    {% if data.show_picture %}<img class="avatar" src="{{ .data.baseurl }}/images/{{ data.basic.avatar }}" alt="profile picture" />{% endif %}

  </div>
{% if data.show_contact %}{% include contact.html %}{% endif %}
{% if data.show_skills_analyst %}{% include skills_analyst.html %}{% endif %}
{% if data.show_languages %}{% include languages.html %}{% endif %}
{% if data.show_interests %}{% include interests.html %}{% endif %}
</div>
