{% assign engineer = site.data.data.skills.engineer %}

{% if engineer %}<section class="skills-section section">

{% for group in engineer %}  <h3 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-wrench fa-stack-1x"></i>
    </span>
    {{group.title }}
  </h3>

  <div class="skillset">
    <table class="table">
      <tbody>
{% for item in group.items %}        <tr>
          <td width="25%" scope="row">{{ item.name }}</td>
          {% assign p = item.level | times: 100 | divided_by: group.max_level %}
          <td width="75%"><div class="progress"><div class="progress-bar" role="progressbar" style="width: {{ p }}%;" aria-valuenow="{{ item.level }}" aria-valuemin="0" aria-valuemax="{{ group.max_level }}">{{ item.level }} / {{ group.max_level }}</div></div></td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>{% endfor %}
</section><!--//skills-section-->{% endif %}
