{% assign trainings = site.data.data.trainings %}

{% if trainings %}
<section class="skills-section trainings-section">
  <h3 class="section-title">
    <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ trainings.title }}
  </h3>

  <div class="skillset">
    <table class="table">
      <tbody>
{% for item in trainings.items %}        <tr>
          <td scope="row">
            <div class="item">
              <div class="meta">
                <div class="upper-row">
                  <h3 class="degree"><a href="{{ item.url }}">{{ item.name }}</a></h3>
{% if item.dates %}              <div class="time">{{ item.dates[0] }}</div>{% endif %}
                </div>
{% if item.courses %}                <div class="courses">
                  <ul>
{% for course in item.courses %}                  <li>{{ course }}</li>{% endfor %}
                  </ul>
                </div><!--//details-->{% endif %}
    
{% if item.details %}              <div class="details">
                {{ item.details | markdownify }}
              </div><!--//details-->{% endif %}
            </div>
          </td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>
</section><!--//skills-section-->
{% endif %}
