---
#Add "layout: compress" here to compress the html code
lang: en
---

{% assign data = site.translations[site.lang] %}

<!DOCTYPE>
<html lang="{{ site.lang }}">
{% include head.html %}

  <body>
    {% include header.html %}
    <div class="wrapper">
{% if data.show_sidebar %}      {% include sidebar.html %}{% endif %}
      <div class="main-wrapper">
          {{ content }}
      </div>
    </div>
    {% include date.html %}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>

