---
#Add "layout: compress" here to compress the html code
---

{% assign data = site.translations[site.lang] %}

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      padding: 0 !important;
    }
    .wrapper {
      max-width: unset !important;
    }
  </style>
  <body>
    <div class="wrapper">
{% if data.show_sidebar %}      {% include sidebar.html %}{% endif %}
      <div class="main-wrapper">
        {{ content }}
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
